<div class="row">
    <div class="col-sm-4">
        <h2>Category</h2>
    </div>
    <div class="col-sm-4">
        <app-modal-create-item></app-modal-create-item>
    </div>
    <div class="col-sm-8">
        <div class="card-columns" id="inventory-items">
            <ng-container *ngFor="let item of items">
                <div class="card">
                    <img class="card-img-top" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4AQrc?ver=07aa&q=90&m=6&h=200&w=200&b=%23FFFFFFFF&o=f&aim=true" alt="Card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>