<div class="row">
    <div class="col-sm-4">
        <h2>Category</h2>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default float-right" title="Add List..."
        (click)="showNewItemModal(newItemModalTemplate)">
          <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
          Add item
        </button>
    </div>
    <div class="col-sm-8">
        <div class="card-columns" id="inventory-items">
            <ng-container *ngFor="let item of items">
                <div class="card">
                    <img class="card-img-top" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4AQrc?ver=07aa&q=90&m=6&h=200&w=200&b=%23FFFFFFFF&o=f&aim=true" alt="Card">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile"
                (change)="addFile($event)">
          </div>
<!-- 
        <ul id="items" class="card-group">
            <li class="" *ngFor="let item of items">
                <div class="d-flex">
                    <div class="flex-fill">
                        <h4>Hi</h4>
                        <span>{{ item.title }}</span>
                    </div>
                </div>
            </li>
        </ul> -->
    </div>
</div>

<ng-template #newItemModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">New Item</h4>
        <button class="close float-right" aria-label=Close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createItemForm" (ngSubmit)="createItem()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price" id="price" formControlName="price">
            </div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <input type="text" class="form-control" name="notes" id="notes" formControlName="notes">
            </div>
            <div class="form-group">
                <label for="personItemId">In use by</label>
                <input type="text" class="form-control" name="personItemId" id="personItemId" formControlName="personItemId">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>