<div class="row pb-2">
    <div class="col-sm-4">
        <h2>Team</h2>
    </div>
    <div class="col-sm-4">
        <app-modal-create-person (createdEvent)="refreshTable()"></app-modal-create-person>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <table class="table table-bordered table-striped table-hover"  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <!-- <caption>List of persons</caption> -->
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of personItems" (click)="selectPerson(person)">
                        <td>{{ person.name }}</td>
                        <td>{{ person.lastName }}</td>
                        <td>{{ person.region }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
