<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <img src='https://dummyimage.com/150.gif' alt=''/>
                    <h5>Name, LastName</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2>Assigned items</h2>
            <table class="table table-bordered table-hover table-striped" datatable>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>