<div>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-sm-2 d-flex align-items-center justify-content-center">
        <img class="d-block" src='https://dummyimage.com/50.gif' alt='' width="50px" height="50px" />
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <h5 class="card-title">{{ personItemSelected == null ? 'Not assigned' : personItemSelected.name + ' ' +
              personItemSelected.lastName }}</h5>
            <!-- <p>{{ personItemSelected.name ?? 'No asignado' }}</p> -->
          </div>
          <div class="col-sm-6 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary d-flex" (click)="showPersonModal(selectPersonModalTemplate)">
              Assign
              <fa-icon class="d-block ml-2" [icon]="userIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>


<ng-template #selectPersonModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Select Person</h4>
    <button class="close float-right" aria-label=Close (click)="selectPersonModalTemplateRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions">
          <!-- <caption>List of persons</caption> -->
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Country</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of personItems" (click)="selectPerson(person)">
              <td>{{ person.name }}</td>
              <td>{{ person.lastName }}</td>
              <td>{{ person.region }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="float-left">
      Select a person from the table
    </div>
  </div>
</ng-template>
