<button class="btn btn-default float-right" title="Add List..." (click)="showNewItemModal(newPersonItemModalTemplate)">
    <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
    Add Team Member
</button>

<ng-template #newPersonItemModalTemplate>
    <div class="modal-header clearfix">
        <h4 class="modal-title float-left">New Team Member</h4>
        <button class="close float-right" aria-label=Close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createItemForm" (ngSubmit)="createItem()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="lastName">Location</label>
                <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
            </div>
            <!-- TODO +tags -->
            <!-- <div class="form-group">
                <app-modal-select-person (personSelectedEvent)="updatePersonIdSelected($event)">
                </app-modal-select-person>
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</ng-template>